.footer {
	position: relative;
	overflow: hidden;
	padding: 100px 0 50px;
	width: 100%;

	&__content {
		display: flex;
	}

	&__image {
		display: block;
		margin: 0 auto;
	}

	&__buttonUp {
		position: fixed;
		right: 25px;
		bottom: 90px;
		border: 1px solid $color-red;
		border-radius: 50%;
		width: 48px;
		height: 48px;
		opacity: 0;
		pointer-events: none;

		svg {
			width: 20px;
			height: 26px;
			fill: none;
			stroke: #282a33;
			stroke-width: 2;
			transition: $duration-normal stroke;
		}

		&.is-shown {
			opacity: 1;
			pointer-events: auto;
		}

		@include hover {
			background: $color-red;

			svg {
				stroke: #fff;
			}
		}

		@include mobile {
			right: 20px;
			bottom: 20px;
			width: 30px;
			height: 30px;

			svg {
				width: 12px;
				height: 14px;
			}
		}
	}

	&__progress {
		position: fixed;
		right: 25px;
		bottom: 25px;
		width: 48px;
		height: 48px;

		&_diagram {
			position: relative;

			svg {
				position: relative;
				fill: transparent;
				transform: rotate(-90deg);

				circle {
					stroke: $color-black;
					stroke-width: 1;
					transition: $duration-normal fill, $duration-normal stroke;

					&:first-child {
						transition-property: opacity;
					}

					&:last-child {
						stroke: $color-red;
					}
				}
			}

			&.is-finish {
				svg {
					circle {
						&:first-child {
							opacity: 0;
						}

						&:last-child {
							fill: $color-red;
						}
					}
				}

				+ .footer__progress_percent {
					color: #fff;
				}
			}
		}

		&_percent {
			position: absolute;
			left: 0;
			top: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			padding-top: 1px;
			width: 100%;
			height: 100%;
			transition: $duration-normal color;
		}

		@include mobile {
			display: none;
		}
	}

	@include devices {
		padding-top: 50px;
	}

	@include mobile {
		padding-top: 10px;
		padding-bottom: 40px;
	}
}
