.preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2000;
	width: 100%;
	height: 100%;
	background: #fafafa;
	transition: $duration-normal opacity, $duration-normal visibility;

	&__image {
		position: absolute;
		left: -591px;
		top: 100%;
		width: 591px;
		height: 591px;
		transition: 2s transform;
	}

	&.is-loaded {
		opacity: 0;
		visibility: hidden;
	}
}

.menu {
	&__link {
		position: relative;
		margin-left: 32px;
		font-weight: 700;
		font-size: 18px;

		&::before {
			content: "";
			position: absolute;
			left: -22px;
			bottom: -36px;
			width: 104px;
			height: 156px;
			background: url("../images/boomerang.svg") 0 0 no-repeat;
			background-size: 100% auto;
			opacity: 0;
			transition: $duration-normal opacity;
			pointer-events: none;

			@include mobile {
				left: -9px;
				bottom: -36px;
				width: 50px;
				height: 93px;
			}

			@include mobile-md {
				left: 36px;
				bottom: -3px;
				width: 44px;
				height: 70px;
			}
		}

		span {
			position: relative;
		}

		@include hover {
			color: $color-blue;
		}

		@include active {
			&::before {
				opacity: 1;
			}
		}

		@include mobile-md {
			display: block;
			margin: 0 0 20px;
			padding: 10px;
			font-size: 26px;
			line-height: 1.2;
		}
	}

	&__list {
		display: flex;

		@include mobile-md {
			display: block;
		}
	}
}

.header {
	position: absolute;
	left: 0;
	right: 0;
	top: 70px;

	&__inner {
		position: relative;
		left: 0;
		right: 0;
		top: 0;
		z-index: 400;
		transition: $duration-normal background-color;
	}

	&__flex {
		display: flex;
		justify-content: flex-end;
	}

	&__menu {
		padding: 30px 0;

		@include mobile {
			padding: 15px 0;
		}

		@include mobile-md {
			position: fixed;
			left: 0;
			top: 0;
			z-index: 400;
			overflow: hidden;
			overflow-y: auto;
			padding: 50px 30px;
			width: 100vw;
			height: 100vh;
			background: #fafafa url("../images/hourglass.png") center bottom no-repeat;
			opacity: 0;
			visibility: hidden;
			transform: translateX(100%);
			transition: $duration-normal transform, $duration-normal opacity, $duration-normal visibility;
			-webkit-overflow-scrolling: touch;

			@include active {
				opacity: 1;
				visibility: visible;
				transform: translateX(0);
			}
		}
	}

	&__burger {
		position: relative;
		z-index: 100;
		display: none;
		flex-direction: column;
		margin-right: -20px;
		padding: 14px 0;
		width: 66px;
		color: $color-black;

		span {
			display: block;
			margin: 6px 0;
			width: 26px;
			height: 2px;
			background-color: currentColor;
			transition: $duration-normal transform;

			&:nth-child(2) {
				transition-property: opacity;
			}
		}

		@include active {
			span {
				&:first-child {
					transform: translate(0, 8px) rotate(-45deg);
				}

				&:last-child {
					transform: translate(0, -8px) rotate(45deg);
				}

				&:nth-child(2) {
					opacity: 0;
				}
			}
		}

		@include mobile-md {
			z-index: 500;
			display: block;
		}
	}

	&.is-fixed {
		.header__inner {
			position: fixed;
			background-color: rgba(255, 255, 255, 0.85);
		}
	}

	@include devices {
		top: 35px;
	}

	@include mobile-md {
		top: 10px;
	}
}