[data-anim] {
	opacity: 0;
	will-change: opacity, transform;
}

[data-anim="fadeInLeft"] {
	transform: translate(-30px, 0);
}

[data-anim="fadeInUp"] {
	transform: translate(0, 30px);
}

[data-anim="flip"] {
	transform: scaleX(0);
}

.design {
	position: absolute;
	left: 50%;
	bottom: -167px;
	width: 1155px;
	height: 363px;
	max-width: 100%;
	transform: translate(-50%, 0);
	pointer-events: none;

	&__picture {
		display: block;
		width: 100%;
		height: auto;
	}

	@include mobile-md {
		bottom: -122px;
		height: 200px;
	}
}

.social {
	display: flex;

	&__link {
		margin-right: 20px;
		width: 25px;
		height: 25px;

		svg {
			fill: $color-black;
			transition: $duration-normal fill;
		}

		@include hover {
			svg {
				fill: $color-red;
			}
		}
	}
}

.about {
	position: relative;
	padding: 100px 0;

	&__design {
		@include mobile-md {
			bottom: -122px;
			height: 200px;
		}
	}

	&__flex {
		position: relative;
		display: flex;

		@include mobile {
			display: block;
		}
	}

	&__left {
		padding-right: 30px;
		width: 100%;
		max-width: calc(100% - 270px);

		@include mobile {
			padding-right: 0;
			padding-bottom: 20px;
			max-width: none;
		}
	}

	&__right {
		flex: none;
		width: 270px;

		@include mobile {
			width: auto;
		}
	}

	&__photo {
		position: relative;
		display: block;
		margin-bottom: 40px;
		width: 150px;
		height: 150px;

		img {
			display: block;
		}

		@include mobile-md {
			margin-bottom: 30px;
			width: 80px;
			height: 80px;
		}
	}

	&__text {
		max-width: 560px;

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		padding-bottom: 5px;

		> a,
		> div {
			margin-bottom: 10px;
		}

		a {
			@include hover {
				color: $color-blue;
			}
		}
	}

	@include devices {
		padding-top: 50px;
	}

	@include mobile {
		padding: 50px 0 20px;
	}

	@include mobile-md {
		padding-top: 20px;
	}
}

.badge {
	position: relative;
	display: inline-block;
	border-radius: 3px;
	width: 12px;
	height: 12px;
	background: conic-gradient(from 225deg at 94.19% 5.24%, #aea9fe 0deg, #938df8 360deg);
	transform: rotate(-45deg);

	&::before {
		content: "";
		position: absolute;
		left: -1px;
		right: -1px;
		top: -1px;
		bottom: -1px;
		border: 4px solid#ccc9fd;
		border-radius: 8px;
	}

	&--usability {
		background: conic-gradient(from 225deg at 94.19% 5.24%, #ffe975 0deg, #ffcf41 360deg);

		&::before {
			border-color: #fff3b5;
		}
	}

	&--artist {
		background: conic-gradient(from 225deg at 94.19% 5.24%, #fe73a5 0deg, #ef5389 360deg);

		&::before {
			border-color: #ff99be;
		}
	}

	&--graphic {
		background: conic-gradient(from 225deg at 94.19% 5.24%, #77c9fb 0deg, #4ebff3 360deg);

		&::before {
			border-color: #c0f0ff;
		}
	}

	&--seo {
		background: conic-gradient(from 225deg at 94.19% 5.24%, #ffbb87 0deg, #ffa35c 360deg);

		&::before {
			border-color: #ffd5b4;
		}
	}

	&--it {
		background: conic-gradient(from 225deg at 94.19% 5.24%, #64ddba 0deg, #3fc59d 360deg);

		&::before {
			border-color: #7cf5d2;
		}
	}
}

.experienceItem {
	margin-bottom: 60px;

	&__date {
		margin-bottom: 8px;
		color: $color-gray;
	}

	&__position {
		display: flex;
		margin-bottom: 8px;
	}

	&__positionName {
		margin-right: 8px;
		font-weight: 700;
		line-height: 1.21;
	}

	&__positionBadges {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		padding: 0 3px;
		height: 17px;

		.badge {
			margin-right: -3px;

			&::before {
				display: none;
			}
		}
	}

	&__company {
		display: flex;
		align-items: center;
		margin-bottom: 8px;
		line-height: 1.21;
	}

	&__companyLogo {
		flex: none;
		margin-right: 8px;
		width: 30px;
		height: 30px;

		img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	&__companyFlex {
		display: flex;
		flex-wrap: wrap;
	}

	&__companyName {
		margin-right: 8px;
		font-weight: 700;
	}

	&__text {
		margin-bottom: 4px;

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		line-height: 1.21;
		color: $color-blue;

		a {
			margin-bottom: 3px;
			text-decoration: underline;

			&:last-child {
				margin-bottom: 0;
			}

			@include hover {
				color: $color-black;
			}
		}
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.educationItem {
	margin-bottom: 30px;
	text-align: center;

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 5px;
		height: 42px;

		.badge {
			position: relative;
			border-radius: 8px;
			width: 28px;
			height: 28px;

			&:nth-child(2) {
				z-index: 1;
			}
		}
	}

	&__title {
		margin-bottom: 5px;
		font-weight: 700;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&--main {
		.educationItem__logo {
			.badge {
				&:first-child,
				&:last-child {
					border-radius: 3px;
					width: 15px;
					height: 15px;

					&::before {
						border-width: 3px;
						border-radius: 4px;
					}
				}

				&:nth-child(2) {
					margin: 0 -1px;
				}
			}
		}
	}

	@include mobile {
		padding: 0 10px;
		width: 33.3334%;
	}

	@include mobile-md {
		width: 50%;
	}
}

.education {
	&__items {
		margin: 0 auto;
		padding: 0 20px;
		max-width: 190px;

		@include mobile {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -10px;
			padding: 0;
			max-width: none;
		}
	}
}

.resume {
	position: relative;
	padding: 100px 0;

	&__design {
		bottom: -268px;

		@include mobile-md {
			bottom: -166px;
		}
	}

	&__content {
		position: relative;
	}

	&__flex {
		display: flex;

		@include mobile {
			display: block;
		}
	}

	&__experience {
		position: relative;
		z-index: 1;
		flex-grow: 1;
	}

	&__education {
		position: relative;
		z-index: 1;
		flex: none;
		width: 270px;

		h2 {
			text-align: center;

			@include mobile {
				text-align: left;
			}
		}

		@include devices {
			width: 210px;
		}

		@include mobile {
			width: auto;
		}
	}

	&__sticky {
		position: relative;
		flex: none;
		width: 310px;

		&_inner {
			height: 500px;

			@include devices {
				height: 300px;
			}

			@include mobile {
				height: auto;
			}
		}

		@include devices {
			width: 200px;
		}

		@include mobile {
			margin: 0 auto;
			padding: 40px 0;
			width: 300px;
			max-width: 100%;
		}

		@include mobile-md {
			width: 200px;
		}
	}

	&__image {
		position: absolute;
		left: 50%;
		top: 0;
		width: 500px;
		height: auto;
		max-width: none;
		transform: translate(-50%, 0);

		@include devices {
			width: 300px;
		}

		@include mobile {
			position: relative;
			left: auto;
			width: 100%;
			max-width: 100%;
			transform: none;
		}
	}

	@include mobile {
		padding: 20px 0;
	}
}

.skillItem {
	margin-bottom: 20px;
	padding: 0 10px;
	width: 25%;

	&__title {
		margin-bottom: 6px;
		font-weight: 700;
		line-height: 1.21;
	}

	@include mobile {
		width: 50%;
	}

	@include mobile-md {
		width: 100%;
	}
}

.skills {
	position: relative;
	padding: 100px 0 80px;

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
	}

	@include devices {
		padding-bottom: 40px;
	}

	@include mobile {
		padding-top: 20px;
		padding-bottom: 10px;
	}
}

.home {
	padding: 80px 20px;

	&__picture {
		display: block;
		margin: 0 auto 40px;
		max-width: 500px;
		opacity: 0;
		transition: $duration-normal;

		&[data-loaded="true"] {
			opacity: 1;
		}

		&--2 {
			margin-top: 40px;
			margin-bottom: 0;
		}
	}

	&__text {
		margin: 0 auto;
		max-width: 500px;
		font-size: 20px;
		line-height: 26px;

		a {
			text-decoration: underline;

			@include hover {
				text-decoration: none;
			}
		}

		code {
			padding: 5px;
			background-color: $color-gray;
		}
	}

	@include desktop {
		padding: 100px 0;
	}
}