footer.footer
	.container
		.footer__content
			img.footer__image(src=`${baseDir}images/love.png` alt="Love" data-anim="heart")

		button.footer__buttonUp.js-back-to-top
			+svg("arrow")

		.footer__progress
			.footer__progress_diagram.js-progress
				svg(viewbox="0 0 48 48" xmlns="http://www.w3.org/2000/svg")
					circle(r="23" cx="24" cy="24")
					circle(r="23" cx="24" cy="24")

			.footer__progress_percent.js-progress-percent
				| 0%
