header.header
	.header__inner
		.container
			.header__flex
				button.header__burger.btn.js-burger(type="button")
					span
					span
					span

				nav.header__menu.menu
					.menu__list
						each object, key in data.header.menu
							a.menu__link.js-to-anchor(
								class=object.class
								href=object.url
								data-link=key
							)
								span= object.name

					button.menu__close.js-menu-close(type="button")
