mixin education(options)
	.educationItem(data-anim="flip")

		.educationItem__logo
			span(class=`badge badge--${options.badge}`)

		.educationItem__title !{options.name}

		.educationItem__text !{options.description}
