mixin experience(options)
	.experienceItem(data-anim="fadeInUp")
		.experienceItem__date= options.date

		.experienceItem__position
			.experienceItem__positionName= options.position

			.experienceItem__positionBadges
				each badgeItem in options.badges
					span(class=`badge badge--${badgeItem}`)

		.experienceItem__company
			if options.company.logo.src
				.experienceItem__companyLogo
					img(src=options.company.logo.src alt=options.company.logo.alt)

			.experienceItem__companyFlex
				if options.company.name.length
					.experienceItem__companyName= options.company.name

				.experienceItem__companyLocation= options.company.location

		.experienceItem__text
			p !{options.description}

		if options.links.length
			.experienceItem__links
				each link in options.links
					a(href=link.href target="_blank")
						| #{link.name}
