.about#resume
	.about__design.design
		+lazyPicture({
			src: `${baseDir}images/design-line-1.svg`,
			alt: ''
		}, [
				{
					srcset: `${baseDir}images/design-line-1-mobile.svg`,
					media: '(max-width: 575px)',
				}
			]
		).design__picture

	.container
		.about__photo
			img(src=`${baseDir}images/logo.png` alt="Логотип")

		.about__flex
			.about__left
				.about__title(data-anim="fadeInLeft")
					h1
						| Сергей,
						br
						| HTML-верстальщик

				.about__text(data-anim="fadeInUp")
					p
						| Привет! Я занимаюсь адаптивной вёрсткой сайтов. Дополнительно осваиваю фрейморк VueJS. У себя выделил бы 3 основные качества: терпение, ответственность, пунктуальность. Веду дневник жизни и успеха, а также есть мечта - создать проект по осуществлению каких-то значимых и вдохновляющих мечт других людей.

			.about__right
				.about__contacts
					a(href="mailto:ya.sergej20142014@yandex.ru")
						| ya.sergej20142014@yandex.ru
					a(href="tel:+79222241692")
						| +7 (922) 224-16-92
					div
						| г. Екатеринбург

				.about__social.social
					a.social__link(href="#facebook" title="facebook" data-type="fb")
						+svg("facebook")
					a.social__link(href="#vk" title="vk" data-type="vk")
						+svg("vk")
					a.social__link(href="#telegram" title="telegram" data-type="tg")
						+svg("telegram")

.resume#about
	.resume__design.design
		+lazyPicture({
			src: `${baseDir}images/design-line-2.svg`,
			alt: ''
		}, [
				{
					srcset: `${baseDir}images/design-line-2-mobile.svg`,
					media: '(max-width: 575px)',
				}
			]
		).design__picture

	.container
		.resume__content
			.resume__flex
				.resume__experience.experience
					h2
						| Опыт работы

					.experience__items
						+experience({
							date: 'Июль 2019',
							position: 'Freelance Designer',
							badges: ['graphic', 'usability', 'interface'],
							company: {
								logo: {},
								name: '',
								location: 'Netherlands, Worldwide'
							},
							description: 'Available for a project or job in UX/UI, Visual and Product design.',
							links: [
								{
									href: 'http://google.ru',
									name: 'Commercial tryouts'
								},
								{
									href: 'http://google.ru',
									name: 'Personal projects'
								}
							]
						})

						+experience({
							date: 'Январь 2017 - Сентябрь 2018',
							position: 'Digital Designer',
							badges: ['artist', 'graphic'],
							company: {
								logo: {
									src: `${baseDir}images/logos/jcs.png`,
									alt: 'J Creative Solutions'
								},
								name: 'J Creative Solutions',
								location: 'Digital agency in Minsk, Belarus'
							},
							description: 'Created visuals for digital marketing channels such as social media, promo web and online ads. Developed visual language from scratch or following the branding guidelines. Designed presentations <br> for clients and indoor purposes.',
							links: [
								{
									href: 'http://google.ru',
									name: 'Agency projects'
								}
							]
						})

						+experience({
							date: 'Март 2014 - Февраль 2017',
							position: 'SEO Specialist → Lead SEO Specialist',
							badges: ['graphic', 'seo'],
							company: {
								logo: {
									src: `${baseDir}images/logos/oz.png`,
									alt: 'OZ.by'
								},
								name: 'OZ.by',
								location: 'Online bookstore in Minsk, Belarus'
							},
							description: 'Improved website performance and user experience of the biggest online bookstore OZ in Belarus, being a part of the marketing team, <br> I interpreted Google Analytics data to IT, content and marketing colleagues. Advised on tech and content optimization strategy, automated processes, provided reports, increased organic traffic up to 150%.',
							links: [
								{
									href: 'http://google.ru',
									name: 'Annual company report 2016'
								}
							]
						})

						+experience({
							date: 'Август 2012 - Ноябрь 2013',
							position: 'Content Specialist',
							badges: ['seo'],
							company: {
								logo: {
									src: `${baseDir}images/logos/21vek.png`,
									alt: '21vek.by'
								},
								name: '21vek.by',
								location: 'E-commerce store in Minsk, Belarus'
							},
							description: 'Added and modified the product information, prepared images and text for the website, developed categories filters, ensure all info is correct in the catalogue with the goal of improving online shopper experience.',
							links: []
						})

						+experience({
							date: 'Август 2011 - Ноябрь 2014',
							position: 'Software Support Engineer',
							badges: ['it'],
							company: {
								logo: {
									src: `${baseDir}images/logos/integral.png`,
									alt: 'Integral'
								},
								name: 'Integral',
								location: 'Microelectronics factory in Minsk, Belarus'
							},
							description: 'Supported retail accounting system LS Trade, troubleshoot technical problems.',
							links: []
						})

				.resume__sticky
					.resume__sticky_inner#sticky
						img.resume__image(src=`${baseDir}images/wizard.png` alt="Циркач - волшебник")

				.resume__education.education
					h2
						| Образование

					.education__items
						.educationItem.educationItem--main
							.educationItem__logo
								.badge.badge--graphic
								.badge.badge--interface
								.badge.badge--usability
							.educationItem__title
								| Interface Design: Web&nbsp;&amp;&nbsp;Mobile
							.educationItem__text
								p
									| IT-Academy, 2020

						+education({
							badge: 'usability',
							name: 'Fundamentals of&nbsp;Usability',
							description: '<p>Skillshare, Oct 2018</p>'
						})

						+education({
							badge: 'artist',
							name: 'CG Artist',
							description: '<p>Polygon CG School, May&#8209;Sep 2017</p>'
						})

						+education({
							badge: 'graphic',
							name: 'Graphic Design',
							description: '<p>Belarusian State Academy of&nbsp;Arts, 2015&nbsp;&#8209;&nbsp;2017 Postgraduate Diploma</p>'
						})

						+education({
							badge: 'seo',
							name: 'SEO Specialist',
							description: '<p>ARTOX Media, Jun&#8209;Aug&#8209;2012</p>'
						})

						+education({
							badge: 'it',
							name: 'Information Technology Software',
							description: '<p>Belarusian State University of Informatics and Radioelectronics, 2011 - 2015 Bachelor’s&nbsp;degree</p><p>Polotsk State Economic College, 2007 - 2011 Associate’s degree</p>'
						})

.skills#skills
	.container
		h2
			| Навыки

		.skills__items
			+skill({
				name: 'Adobe Creative Suite',
				description: 'Photoshop, Illustrator, InDesign, XD, After Effects'
			})
			+skill({
				name: 'Prototyping',
				description: 'Sketch, Figma, InVision, Marvel, Principle, Balsamiq'
			})
			+skill({
				name: 'Additional',
				description: 'HTML, CSS, Google Analytics, Keynote, Miro'
			})
			+skill({
				name: 'Languages',
				description: 'Conversational English and Native Russian'
			})
