extends pug/base

prepend vars
	- title = '<?= htmlspecialchars($title) ?>'
	- description = '<?= htmlspecialchars($description) ?>'
	- image = '<?= htmlspecialchars($image) ?>'

//- append vars
	//- ...

block content
	include pug/data

	//- .site
	include pug/components/preloader
	include pug/components/header

	include pug/pages/home

	include pug/components/footer

	//- include pug/components/analytics
