// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS
$color-black: #282a33;
$color-white: #fff;
$color-gray: #828282;
$color-blue: #2f80ed;
$color-red: #d2233c;

// FONTS
// stylelint-disable-next-line
$font-primary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-pro-display: "SFProDisplay", sans-serif;
$font-size: 14px;
$line-height: 1.4;

// EASING TRANSITIONS
$duration-normal: 0.4s;
$easing-back-out: cubic-bezier(0.25, 0.74, 0.22, 1.1); // http://cubic-bezier.com/#.25,.74,.22,1.1
$easing-back-in: cubic-bezier(0.47, -0.1, 0.5, -0.06); // http://cubic-bezier.com/#.47,-0.1,.5,-.06
$easing-out: ease-out;
$easing-in: ease-in;

// Settings
$desktop: 1025;
$desktop-xl: 1800;
$laptop: 1440;
$tablet: 768;
$mobile: 576;
$desktop-vh: 750;

// Container
$container-gutters: 20px;
$container-gutters-xl: 150px;
$container-max-width: 1140px;
$container-max-width-xl: 1500px;
